<div class="panel-body poll-result">
    <div class="percent">@(Model.PollAnswers[0].Percentage + "%")</div>
    <div>of voters vote for</div>
    <div class="answer-text">@Model.PollAnswers[0].AnswerText</div>
</div>