<div id=@("message" + @Model.Id) class="poll-message">You have voted this poll</div>
<div id=@("thankyou" + @Model.Id) style="display:none;">{ThankyouText}</div>
<div>Total Votes: <span id=@("total" + @Model.Id)>{TotalVotes}</span></div>