<div>Hi @Model.FullName,</div>
<br/>
<div>Please click on this <a href="@Model.ResetLink" target="_blank">url</a> to reset your password. </div>
<br/>
<div>This url will expired in the next @Model.EffectiveTimeInMinutes minutes.</div>
<br/>
<div>Thank you.</div>