<div>Hi @Model.FullName,</div>
<br/>
<div>Your account had beeen registered in @Model.SiteUrl.</div>
<br/>
<div>Please click on this <a href="@Model.LoginLink" target="_blank">url</a> to login.</div>
<br/>
<div>Thank you.</div>