<div>Hi @Model.FullName,</div>
<br />
<div>Your account will expire on @Model.ExpirationDate UTC Time</div>
<br/>
<div>Please click on this <a href="@Model.ExtendExpirationDateLink" target="_blank">url</a> to confirm the account is still active. </div>
<br/>
<div>Thank you.</div>