<div class="col-xs-12">
    <h1>Welcome to the EzCMS installation</h1>
    <h2>
        Thanks for downloading the EzCMS installer.
    </h2>
    <p>
        You are just a few minutes away from getting up and running. The installer will
        take you through the following process:-
    </p>
    <ol>
        <li><span>Accept the easy to read License.</span></li>
        <li>
            <span>
                Set up a database. There are a number of options available
                such as MS SQL Server, MS SQL Express Edition and MYSQL or you may wish to use the
                Microsoft SQL CE 4 database. You may need to consult your web host or system administrator.
            </span>
        </li>
        <li><span>Set an EzCMS Admin password.</span></li>
        <li><span>Setup email account to send email.</span></li>
        <li>
            <span>
                You can then choose to install one of our great starter
                kits and a skin.
            </span>
        </li>
        <li><span>But whatever you do don't forget to become part of the EzCMS community, one of the friendliest developer communities you will find. It’s what makes EzCMS such a great product and so much fun to use.</span></li>
    </ol>
</div>
<div class="col-xs-12">
    <button class="btn btn-info next" type="button">Lets get started</button>
</div>
