<div id="{DocumentId}-search-box" class="col-xs-12" style="display: none; padding-left: 0">
    <input id="{DocumentId}-search-keyword" type="text" placeholder="Search documents" />
    <button id="{DocumentId}-search-button" class="btn btn-xs btn-info"><i id="{DocumentId}-search-icon" class="fa fa-search"></i></button>
    <button id="{DocumentId}-clear-button" class="btn btn-xs btn-default">Clear</button>
</div>
<ul id="{DocumentId}-search-result" class="document-search-result" style="display: none"></ul>