<header class="intro-header" style="background-image: url('Images/StarterKits/Blog/about-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <h1>Error</h1>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-xs-12">Either your session has timed out or we have encountered a slight problem. Technical support has been notified.</div>
        <div class="col-xs-12">We are committed to providing you with an enjoyable browsing experience.</div>
        <div class="col-xs-12">Please <a href="/">click here</a> to go back to home page</div>
        <div class="col-xs-12">Or select a link from our site map below:</div>
        <div class="clearfix"></div>
        <div class="col-xs-12">
            <widget>{SiteMapSimple}</widget>
        </div>
    </div>
</div>