<div class="main-container">
    <div class="main-content">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="login-container">
                    <div class="center">
                        <h1>
                            <i class="fa fa-lock blue"></i>
                            <span class="red">Login</span>
                            <span class="light-blue">Page</span>
                        </h1>
                    </div>

                    <div class="space-6"></div>

                    <div class="position-relative">
                        @ShowStatusMessage()
                        <div id="forgot-success-box" class="forgot-box visible widget-box no-border">
                            <div class="widget-body">
                                <div class="widget-main">
                                    <h4 class="header red lighter bigger">
                                        <i class="fa fa-key"></i>
                                        Retrieve Password
                                    </h4>

                                    <div class="space-6"></div>
                                    <p>
                                        An email has been sent to your email address, please follow the instructions to reset your password.
                                    </p>
                                </div>

                                <div class="toolbar center">
                                    <a href="@Url.Action("Login")" class="back-to-login-link">
                                        Back to login
                                        <i class="fa fa-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>