@model EzCMS.Core.Models.Widgets.WidgetBuilders.WidgetManageModel

<div class="form-group">
    @Html.LocalizeLabelFor(m => m.Template, new { @class = "col-xs-12 no-padding-right" })
    <div class="col-xs-12">
        @Html.DropDownListFor(m => m.Template, Model.Templates, new { @class = "col-xs-10 single-select curly-bracket-parameter" })
        @Html.HelpTextFor(m => m.Template, new { @class = "help-button" })
        @Html.ValidationMessageFor(m => m.Template)
    </div>
</div>