@model EzCMS.Core.Models.Notices.NoticeManageModel

@{
    ViewBag.Header = T("Notice_Site_Header");
    ViewBag.Title = T("Notice_Site_EditTitle");
    ViewBag.Description = T("Notice_Site_EditDescription");
}

<div class="page-header">
    <h1>@ViewBag.Header
        <small>
            <i class="fa fa-angle-double-right"></i>
            @ViewBag.Title
        </small>
    </h1>
</div>

<div class="row">
    <div class="col-xs-12">
        @ShowStatusMessage()
        @using (Html.BeginForm("Edit", "Notices", null, FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.EditorForModel(Model)
        }
    </div>
</div>