@model EzCMS.Core.Models.Pages.PageManageModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Header = T("Page_Site_Header");
    ViewBag.Title = T("Page_Site_CreateTitle");
    ViewBag.Description = T("Page_Site_CreateDescription");
}

<div class="page-content" style="overflow-x: hidden">
    @using (Html.BeginForm("PopupCreate", "Pages", null, FormMethod.Post, new { @class = "form-horizontal", id = "pageForm", enctype = "multipart/form-data" }))
    {
        <div class="page-manage-header col-xs-12 no-padding-left no-padding-right">
            <h1 class="col-xs-4">
                @ViewBag.Header
                <small>
                    @ViewBag.Title
                </small>
            </h1>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-xs-12">
                @ShowStatusMessage()
                @Html.EditorForModel(Model)
            </div>
        </div>
    }
</div>