<div class="panel panel-default">
    <div class="panel-heading">{PollQuestion}</div>
    <div class="panel-body">{PollSummary}</div>
    {Votes}
    <div class="space-4"></div>
    <br>
    {Result}
</div>