<div class="row">
    <div class="col-md-3 element-4-head">
        <span class="cal-month">{CurrentMonth}</span>
        <span class="cal-day">{CurrentDay}</span>
        <span class="cal-year">{CurrentYear}</span>
        {AddNewButton}
    </div>
    {Listing}
</div>