@model EzCMS.Core.Models.Users.UserManageModel

@{
    ViewBag.Header = T("User_Site_Header");
    ViewBag.Title = T("User_Site_CreateTitle");
    ViewBag.Description = T("User_Site_CreateDescription");
}

<div class="page-header">
    <h1>
        @ViewBag.Header
        <small>
            <i class="fa fa-angle-double-right"></i>
            @ViewBag.Title
        </small>
    </h1>
</div>

<div class="row">
    <div id="user-profile-3" class="user-profile row">
        <div class="col-sm-offset-1 col-sm-10">
            <div class="space"></div>
            @ShowStatusMessage()
            @using (Html.BeginForm("Create", "Users", null, FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.EditorForModel(Model)
            }
        </div>
    </div>
</div>