<a class="left carousel-control leftCarouselCtrl" href="#myCarousel" data-slide="prev">
    <span class="leftCarouselCtrlInside text-center">&lsaquo;</span>
</a>
<a class="right carousel-control rightCarouselCtrl" href="#myCarousel" data-slide="next">
    <span class="rightCarouselCtrlInside text-center">&rsaquo;</span>
</a>