<div class="col-xs-12">
    <span>
        Your search - <strong><em>{Keyword}</em></strong> - did not match
        any documents.
    </span>
    <p>Suggestions:</p>
    <ul>
        <li>Make sure all words are spelled correctly.</li>
        <li>
            Try different keywords.
        </li>
        <li>Try more general keywords.</li>
        <li>Try fewer keywords.</li>
    </ul>
</div>