<form defaultbutton="btnSearch">
    <input type="text" id="searchText" value="{Keyword}" />
    <input type="button" id="btnSearch" class="btn btn-primary" value="Search" onclick="SearchPages()" />
</form>