@if (Model.Id == 0)
{
    {NoCategory}
}
else
{
    <div class="divWrapperRoomBookingOnlineAndContact">
        <div class="col-sm-8">
            {NewsList}
            {Paging}
            <div class="clearfix"></div>
        </div>
        <div class="clearfix">&nbsp;</div>
    </div>
}